body {
  font-family: 'Helvetica', 'Calibri', sans-serif;
  color: #eee;
  background-color: #0a0a0a;
  width: 256px;
  text-align: center;
  margin: 0;
  font-size: 12px;
}
#main {
  margin: 21px;
}
.block {
  margin-top: 21px;
  margin-bottom: 21px;
  position: relative;
}
button {
  background-color: #444a59;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: 0 solid #444a59;
}
#status {
  width: 140px;
  height: 28px;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
}
.toggle {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  position: relative;
  width: 100px;
  letter-spacing: 0.24em;
  color: #eee;
  font-weight: 800;
}
#status .active {
  background-color: #90ad2f;
}
#status .inactive {
  background-color: #c42e3b;
}
.bar {
  background-color: #805bbd;
  color: #eee;
  margin: 0;
  text-align: left;
  font-size: 12px;
  font-weight: 800;
}
#selections .bar {
  height: 40px;
  overflow: hidden;
}
.title {
  padding: 6px 6px 0 8px;
  float: left;
}
#save {
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 40px;
  float: right;
  border: 0;
  border-left: 2px #444a59 solid;
  font-size: 20px;
  cursor: pointer;
}
#save:hover {
  background-color: #603b9d;
}
.subtitle {
  float: left;
  padding: 0 6px 6px 8px;
  font-size: 10px;
  color: #dddddd;
}
ul {
  list-style: none;
  text-align: left;
}
ul#list {
  background-color: #444a59;
  padding: 4px 0;
  margin: 0;
  height: 192px;
  overflow-y: scroll;
}
ul.playlists {
  padding-left: 8px;
  color: #ccc;
}
ul.playlists li {
  display: inline-block;
  white-space: pre-wrap;
}
ul.playlists li:after {
  content: ', ';
}
ul.playlists li:last-child:after {
  content: '';
}
li.input li {
  color: #ddd;
}
li.selection:hover {
  background-color: #545a69;  
}
li.selection {
  padding: 6px 8px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
li.input, li.input:hover {
  display: none;
  background-color: #617e00;
  padding: 6px 8px;
  cursor: auto;
}
li.inUse, li.inUse:hover {
  background-color: #90ad2f;
}
#new {
  position: relative;
  right: 0;
  background-color: inherit;
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 12px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-weight: 800;
}
.name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 144px;
  font-weight: 800;
}
.delete {
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  cursor: pointer;
  height: 100%;
  top: 0;
}
#brand {
  display: block;
  background-color: #fff;
  margin-top: 4px;
  padding: 8px;
  color: #111;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 800;
}
#logo {
  margin-bottom: -5px;
}