body {
  font-family: $base-font-family;
  text-align: center;
  color: $text-color;
  padding-bottom: 32px;
}

main {
  margin: 0 auto;
  max-width: 1024px;
  padding: 16px;
}

a:active, a:link, a:hover, a:visited {
  text-decoration: none;
  color: $text-color;
}

header {
  padding: 24px 0;
}

#logo {
  vertical-align: middle;
}

h1 {
  margin: 0 36px;
  vertical-align: middle;
  display: inline-block;
  text-transform: lowercase;
  letter-spacing: 0.5em;
  font-size: 36px;
  font-weight: 800;
}

.icon {
  > svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline;
    margin-right: 24px;
  }
}

.bar {
  margin: 16px 0;
  display: block;
  text-align: center;
  > div {
    display: inline-block;
    vertical-align: middle;
  }
}

.description {
  padding: 24px 0;
}

.caption {
  font-size: 24px;
}
.subcaption {
  font-size: 14px;
  white-space: normal;
  word-wrap: break-word;
  &.monospace {
    font-family: 'Consolas', monospace;
    font-size: 16px;
  }
}

.image {
  margin: 16px auto;
}
